<div class="container">
  <h5 class="center">Armazenamento offline</h5>
  <div class="center">Recurso de armazenamento offline para aplicativos da Web</div>

  <form #f="ngForm" (submit)="save(f.value)" class="m-t-xl">

    <div class="">
      <label>Insira uma nota a ser salva</label>
      <input matInput type="text"  #note="ngModel" name="note" ngModel required>
      <div *ngIf="f.submitted && note.invalid" class="invalid-feedback">
          <div *ngIf="note.errors.required">Campo obrigatório</div>
      </div>
    </div>
    <div class="form-group m-t">
      <button mat-raised-button class="m-t m-b" [disabled]="!f.valid" color="primary">Adicionar item</button>
    </div>
  </form>


  <div *ngIf="notes.length">
    <mat-card class="m-t m-b" *ngFor="let n of notes">
      <mat-card-content>
        <p><b>Nota:</b> {{n.text}}</p>
        <p><b>Criação:</b> {{n.date | date:'medium'}}</p>
      </mat-card-content>
    </mat-card>

    <div class="center m-t">
        <button mat-raised-button class="m-t m-b" color="primary" (click)="clearStorage()">Limpar Storage</button>
      </div>
  </div>
</div>