<div class="container">
  <h2 class="mat-h2 center">Opções Nativas</h2>
  
  <div class="buttons-menu">
    <button mat-raised-button color="primary" routerLink="/camera">Câmera</button>
    <button mat-raised-button color="primary" routerLink="/location">Geolocalização</button>
    <button mat-raised-button color="primary" routerLink="/file">Sistema de arquivos</button>
    <button mat-raised-button color="primary" routerLink="/offline-storage">Armazenamento offline</button>
    <button mat-raised-button color="primary" routerLink="/push-notification">Notificações</button>
  </div>
</div>